.table {
    display: block;
    overflow-y: auto;
    white-space: nowrap;
    width: 90%;
    margin: 20px 5% 0 5%;
}

.table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

.table th:hover {
    cursor: pointer;
}


.alignCenter {
    text-align: center;
}